.SearchBar {
    align-items: center;
    padding-top: 6.94rem;
    margin-bottom: 6.33rem;
  }
  
  .SearchBar input {
    width: 35rem;
    margin-right: 30px;
    padding: .88rem 0;
    border: 1px solid #000;
    border-radius: 50px;
    margin-bottom: 2.22rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
  }
  
  .SearchBar input:focus {
    outline: none;
  }
  
  .SearchButton {
    cursor: pointer;
    width: 7.11rem;
    padding: .88rem 0;
    border-radius: 54px;
    background-color: #1bb954;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 1px solid #000;
    color: #fff;
    font-weight: 500;
  }
  
  .SearchButton:hover {
    transition: .5s;
    color: #0c0c0c;
    background-color: #1ae68c;
  }

